<div id="container4" data-drop-url='<%= asset_url("droplet.png") %>'>
</div>

<%= link_to "Bar Graph?", "/graphs/bar", class: "btn btn-large btn-success", id:"bar_link", :remote => :true %>


<%= link_to "Histogram?", "/graphs/histogram", class: "btn btn-large btn-warning", id:"histo_link", :remote => :true %>

<%= link_to "Battery Histogram?", "/graphs/batt", class: "btn btn-large btn-warning", id:"batt_link", :remote => :true %>


<%= link_to "Map", "/graphs/map", class: "btn btn-large btn-danger", id:"map_link" %>


<div id='hist_date_picker'>
  <%= form_tag( { action: 'date_range' }, id: 'hist_date_form', method: 'get') do %>
    <%= label_tag 'Beginning Date' %>
    <%= date_field_tag 'begin_date' %>
    <%= label_tag 'Ending Date' %>
    <%= date_field_tag 'end_date' %>
    <%= submit_tag 'Pick Date Range', id: 'hist_date_submit' %>
  <% end %>
</div>