  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %><br>
  <% end %>
  <br>
<table class="table_of_user">
<%= form_for @user, html:{class:"form-horizontal"} do |f| %>
<tr>
    <td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td>
</tr>
<tr>
    <td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td>
</tr>
<tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td>
</tr>
<tr>
    <td><%= f.label :password_confirmation %></td>
    <td><%= f.password_field :password_confirmation %></td>
</tr>
  <%= f.hidden_field :id, value: @user.id %>
<tr><td>  <div class="actions"><%= f.submit class:"btn btn-lg btn-primary" %></div></td></tr>
<% end %>
</table>