<h1>Welcome, <%= @user.name %></h1>
<br>

<br>
<%= link_to 'Edit your information', edit_user_path, class: "btn btn-large btn-primary" %>
<br><br>
<% if @user.role == 'admin' %>
  <%= link_to 'Create A New User', new_user_path, class: "btn btn-large btn-primary" %> 
  <br><br>
  <%= link_to 'See Users', users_path, class: "btn btn-large btn-primary" %>
  <hr>
  <%= link_to 'Write Blog Post', new_post_path, class: "btn btn-large btn-primary" %>

<% end %>