<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> PotaVida </title>
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
    <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <%= image_tag 'pvlogo.png', class: 'logo', width: 75 %>
            </button>
        </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id='headers'>
              <li class="hidden-xs"><%= image_tag 'pvlogo.png', class: 'logo', width: 150 %></li>
              <li> <a href="#home" class="smoothScroll">Home</a> </li>
              <li> <a href="#about" class="smoothScroll"> Mission </a> </li>
              <li> <a href="#services" class="smoothScroll"> Product </a> </li>
              <li> <a href="#team" class="smoothScroll"> Team </a> </li>
              <li> <a href="#FAQ" class="smoothScroll"> FAQ </a> </li>
              <li> <a href="#blog" class="smoothScroll"> Blog</a> </li>
              <li> <a href="#contact" class="smoothScroll"> Contact</a> </li>
              <li> <div id='hidden_form'> <%= render '/sessions/form' %> </div> </li>
              <% unless current_user %>
              <li><%= link_to 'Sign In', sign_in_path, id: 'sign_in', remote: true %>
                </li>
              <% else %>
              <li id='current'><%= link_to 'Profile', user_path(current_user) %></li>
                 <li id='current'><%= link_to 'Sign Out', sign_out_path %></li>
              <% end %>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>


    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap" id='home' name='home'>
      <div class="row">
        <div class="col-lg-4 callout">
            <br><br>
            <h1>PotaVida</h1>
              <p>Solar Water Purifier: A Disruptive Solution to Lower Costs</p>
        </div><!-- col-lg-4 --> 
      </div><!-- row -->
    </div><!-- greywrap -->
  </div><!-- navbar main -->
    
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
        <div class="gimme_some_space">
        </div>
      <br>
      <br>
        <h1 class="centered">A little about PotaVida</h1>
        <hr>
        
        <div class="col-lg-6">
          <p><b>700M people, many in hard-to-reach areas, still lack access to safe water.</b>  Household solutions are often poorly adapted consumer/military products unsuitable for continuous hard use.
            <br>
            Additionally, aid and development organizations rely on self-reporting to evaluate the effectiveness of household water disinfection methods. This results in inaccurate data, hiding inefficiencies and failures, and stifling innovation.
          </p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-6">
          <p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
    <div class="gimme_some_space">
        </div>
    
    <!-- ==== SECTION DIVIDER1 -->

    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
      <br>
      <br>
      <div class="row">
        <div class="gimme_some_space">
        </div>
        <h2 class="centered">PotaVida's Solution is Different:</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>The sun does all the work: measures sunlight (UV) exposure and shows the user when the water is disinfected<br>
          It's self-contained, reusable, and easy:</p>
            <ol>
              <li>Put filled bag in the sun </li>
              <li>Press start button</li>
              <li>Red light = in progress</li> 
              <li>Green light = safe to drink</li>
            </ol>
          <p>
          Water can be purified in 3-6 hours per batch in full sunlight.<br>
          The bag can be used for transport and storage
          <br>
          There's nothing to replace or refill, with a 5-year working life and 10-year shelf life
          <br>
          At volume, it costs less than $20/unit for 5-10L capacity
          <br>
          The sensor also records usage history for download by field staff
        </p>
        </div><!-- col-lg -->
      </div><!-- row -->
      

    <!-- ==== SECTION DIVIDER2 -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
      <div class="gimme_some_space">
        </div>
        <div class="gimme_some_space">
        </div>
      <div class="row white centered">
        <br>
      <br>
        <h1 class="centered">Meet the team.</h1>
        <hr>
        <div class="col-lg-4">
          <%= image_tag('charlie.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Charlie Matlack, CEO</b></h4>
          <p> Charlie earned his Ph.D. in Electrical Engineering from the University of Washington.  He attended Harvery Mudd College as an undergraduate, which provided a background in multiple engineering disciplines with an emphasis on systems design. He is an expert in electrical and mechanical design and prototyping, in particular with embedded digital systems. His dissertation work was on novel interfaces for enabling individuals to control prosthetics and computers using individual neurons in the brain. He has a strong interest in entrepreneurship, and has participated in the UW Business Plan Competition twice. The second time led to the formation of PotaVida, Inc. Looking forward, Charlie hopes to gain a better understanding of how to leverage for-profit business and technology development models to provide market-based solutions to the developing world.
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4">
          <%= image_tag('jackie.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Jackie Linnes</b></h4>
          <p>Jackie holds a Ph.D. in Bioengineering and a certificate in Global Health from the University of Washington.  She is an expert in bacterial pathogens and implementing engineering solutions that improve global health.  Jackie has extensive global health implementation experience, including the development of the SODIS indicator as well as leading an assessment of user response and usage of improved cooking stoves for Engineers Without Borders in rural Bolivia.  Jackie has developed initial prototypes and evaluated stove efficiency and chimney design to further improve stoves.
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4">
          <%= image_tag('tyler.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Tyler Davis</b></h4>
          <p>Tyler is a Ph.D. student at the Evans School of Public Policy.  He has a background in benefit cost analysis, and field work in less developed countries.  His dissertation work is on environmental policy in less developed countries, specifically marine natural resource policy.  His research includes economic modeling in Indonesia (two years), development of principles and standards for benefit cost analysis for social programs (three years), and benefit cost analysis of social services (two years).  Tyler has extensive experience conducting fieldwork in less developed countries, including Indonesia (two years) and Mexico (one year). Tyler is currently a Ph.D. student in public policy and a research team leader on benefit cost analysis of access to information and communication technology in Chile.
        </div><!-- col-lg-3 -->
        
      </div><!-- row -->
    </div><!-- container -->

    <div class="container" id="FAQ" name="FAQ">
        <div class="row">
          <div class="gimme_some_space">
          </div>
          <div class="row">
          <div class="gimme_some_space">
          </div>
          <h2 class="centered">FAQ</h2>
          <hr>
          <br>
          <div class="col-lg-offset-2 col-lg-8">
            <p>Q: What plastic bottles can be used? Don't dangerous chemicals leach from plastics, especially when left in the sun?</p>

            <p>A: Thin-walled polyethylene terephthalate, labeled PET or PETE in the US, can be safely used for SODIS. These are marked with the "1" recycling symbol, shown below. Glass bottles can be used, but only if the glass is known to be free of UV-blocking additives, so is not usually recommended.</p>
            <br>
            <p>Valid concerns about hazardous chemicals leaching from PET bottles left in the sun have been addressed by scientific studies. Leached organic compounds amount to less than 10% of the safe amount for drinking water as defined by the WHO, and no other chemicals are leached.    <%= link_to 'More information', "http://www.sodis.ch/news_documents/deha_dehp_indien.pdf" %></p>

            <p>Q: How large a problem is contaminated drinking water?</p>

            <p>A: “The sheer scale of dirty water means more people now die from contaminated and polluted water than from all forms of violence including wars,” the United Nations Environment Programme (UNEP) said. This includes 2.2 million people whose deaths are attributed to diarrhea, mostly from dirty water, and 1.8 million children aged under five who succumb to water-borne diseases. This equates to one infant every 20 seconds. <em>Christian Science Monitor (3/22/2010)</em></p>

            <p>Preventable deaths from diarrheal diseases account for 1.4 million or 18% of all deaths in children under five per year. <em>WHO (2010)</em></p>

            <p>Q: How effective is SODIS at solving this problem?</p>

            <p>A: With proper use of SODIS, the “risk of diarrhea was reduced by 40%”. <em>Rose, A., et al. (2006). Solar disinfection of water for diarrhoeal prevention in southern India. Archives of Disease in Children, 91, 139-141.</em></p>

            <p>Q: How much does SODIS cost compared to other water treatments?</p>

            <p>A: 
            <%= image_tag('sodiscost.png') %>Annual cost comparison of different interventions to improve water quality. <em>Reproduced from Casen et. al. 2007</em></p>
            
            <p>Q: How does solar disinfection (SODIS) work?</p>

            <p>A: Three effects of solar radiation kill or deactivate dysentery-causing organisms:</p>
              <ol>
                <li>Ultraviolet light interferes directly with the metabolism and destroys cell structures of bacteria.</li>
                <li>Ultraviolet light reacts with oxygen dissolved in the water and produces highly reactive forms of oxygen (oxygen free radicals and hydrogen peroxides), that are believed to also damage pathogens.</li>
                <li>Cumulative solar energy (including the infrared radiation component) heats the water. If the water temperatures rises above 50°C, the disinfection process is three times faster.
                </li>
              </ol>

            <p>Q: How will the PotaVida indicator work?</p>

            <p>A: ﻿﻿Our indicator measures the exposure of the water to solar irradiation. It will differentiate between darkness, partial sun, and full sun, and indicate progress according to the SODIS guidelines for sufficient expose.</p>

            <p>The SODIS indicator could be configured to wait for exactly the required exposure, but instead implements the guidelines so that it will serve as a training tool. This way, people can learn and have confidence in SODIS without having to use an indicator every time.</p>
          </div><!-- col-lg -->
        </div><!-- row -->

    
    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
      <div class="gimme_some_space">
        </div>
        <div class="gimme_some_space">
        </div>
      <div class="row">
        <br>
        <h1 class="centered"><%= link_to("Potavida Blog and News", "/posts")%></h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      
      <div class="row">
        <% @posts.order(:date).limit(2).each do |post| %>
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <h4><%=post.user.name %></h4>
            <h5><%=post.date %></h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2><%=post.title %></h2>
            <p><%=truncate(post.content, length: 25, separator: ' ') %></p>
            <p><%= link_to("Read More", "/posts/#{post.id}", class: "icon icon-link")%></p>
            <br>
          </div>

        </div><!-- /col -->
        <% end %>
      </div><!-- /row -->
      <br>
      <br>
    </div><!-- /container -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
            <span class="icon icon-envelop"></span> <a href="#">info@potavida.org</a> <br/>
            <span class="icon icon-twitter"></span> <a href="https://twitter.com/search?q=%40potavida&src=typd"> @potavida </a> <br/>
            <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/pages/PotaVida/121404951264666"> PotaVida </a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Blog</h3>
          <p>Sign up to receive notifications when a new blog is posted:</p>
          <p>

            <%= form_for @subscriber do |f| %>
             <div class="form_field">
                <%= f.label :email %>
                <%= f.text_field :email %>
              </div>
              <div class="form_field">
                <%= f.label :name %>
                <%= f.text_field :name %>
                </div>
                 <div class='subscriber_token'>
                  <%= form_authenticity_token %>
                </div>
              <div class="actions"><%= f.submit class: 'subscriber_submit' %></div>
            <% end %>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>How You Can Help</h3>
          <p>We are currently collaborating with World Vision to prototype and field-test our latest design. World Vision will be our first and largest customer; once proven in the NGO market, we can sell at lower cost to end users.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->

    <div id="footerwrap">
      <div class="container">
        <h4>Created by Blavida -- Copyright 2014</h4>
      </div>
    </div>
  </body>
</html>
