<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title> PotaVida </title>


    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  
  
    <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= image_tag 'pvlogo.png', class: 'logo', width: 200 %></li>
            <li><a href="#home" class="smoothScroll">Home</a></li>
            <li> <a href="#about" class="smoothScroll"> Mission </a></li>
            <li> <a href="#services" class="smoothScroll"> Product </a></li>
            <li> <a href="#team" class="smoothScroll"> Team </a></li>
            <li> <a href="#portfolio" class="smoothScroll"> FAQ </a></li>
            <li> <a href="#blog" class="smoothScroll"> Blog</a></li>
            <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
            <li> <% if current_user %>
                    <%= link_to 'Sign Out', sign_out_path %>
                  <% else %>
                    <%= link_to 'Sign In', sign_in_path, id: 'sign_in', remote: true %> <br>
                    <div id='hidden_form'>
                    <%= render '/sessions/form' %> 
                  </div>
                </li>
                  <% end %>
          </ul>
          

        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- ==== GREYWRAP ==== -->
    <div id="greywrap" id='home' name='home'>
      <div class="row">
        <div class="col-lg-4 callout">
            <br><br>
            <h1>PotaVida</h1>
              <p>Solar Water Purifier: A Disruptive Solution to Lower Costs</p>
        </div><!-- col-lg-4 --> 
      </div><!-- row -->
    </div><!-- greywrap -->
  </div><!-- navbar main -->
    
    <!-- ==== ABOUT ==== -->
    <div class="container" id="about" name="about">
      <div class="row white">
      <br>
        <h1 class="centered">A little about PotaVida</h1>
        <hr>
        
        <div class="col-lg-6">
          <p><b>700M people, many in hard-to-reach areas, still lack access to safe water.</b>  Household solutions are often poorly adapted consumer/military products unsuitable for continuous hard use.
            <br>
            Additionally, aid and development organizations rely on self-reporting to evaluate the effectiveness of household water disinfection methods. This results in inaccurate data, hiding inefficiencies and failures, and stifling innovation.
          </p>
        </div><!-- col-lg-6 -->
        
        <div class="col-lg-6">
          <p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
    
    <!-- ==== SECTION DIVIDER1 -->

    
    
    <!-- ==== SERVICES ==== -->
    <div class="container" id="services" name="services">
      <br>
      <br>
      <div class="row">
        <h2 class="centered">PotaVida's Solution is Different:</h2>
        <hr>
        <br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>The sun does all the work: measures sunlight (UV) exposure and shows the user when the water is disinfected<br>
          It's self-contained, reusable, and easy:</p>
            <ol>
              <li>Put filled bag in the sun </li>
              <li>Press start button</li>
              <li>Red light = in progress</li> 
              <li>Green light = safe to drink</li>
            </ol>
          <p>
          Water can be purified in 3-6 hours per batch in full sunlight.<br>
          The bag can be used for transport and storage
          <br>
          There's nothing to replace or refill, with a 5-year working life and 10-year shelf life
          <br>
          At volume, it costs less than $20/unit for 5-10L capacity
          <br>
          The sensor also records usage history for download by field staff
        </p>
        </div><!-- col-lg -->
      </div><!-- row -->
      

    <!-- ==== SECTION DIVIDER2 -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div class="container" id="team" name="team">
    <br>
      <div class="row white centered">
        <h1 class="centered">Meet the team.</h1>
        <hr>
        <div class="col-lg-4">
          <%= image_tag('charlie.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Charlie Matlack, CEO</b></h4>
          <p> Charlie earned his Ph.D. in Electrical Engineering from the University of Washington.  He attended Harvery Mudd College as an undergraduate, which provided a background in multiple engineering disciplines with an emphasis on systems design. He is an expert in electrical and mechanical design and prototyping, in particular with embedded digital systems. His dissertation work was on novel interfaces for enabling individuals to control prosthetics and computers using individual neurons in the brain. He has a strong interest in entrepreneurship, and has participated in the UW Business Plan Competition twice. The second time led to the formation of PotaVida, Inc. Looking forward, Charlie hopes to gain a better understanding of how to leverage for-profit business and technology development models to provide market-based solutions to the developing world.
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4">
          <%= image_tag('jackie.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Jackie Linnes</b></h4>
          <p>Jackie holds a Ph.D. in Bioengineering and a certificate in Global Health from the University of Washington.  She is an expert in bacterial pathogens and implementing engineering solutions that improve global health.  Jackie has extensive global health implementation experience, including the development of the SODIS indicator as well as leading an assessment of user response and usage of improved cooking stoves for Engineers Without Borders in rural Bolivia.  Jackie has developed initial prototypes and evaluated stove efficiency and chimney design to further improve stoves.
        </div><!-- col-lg-3 -->
        
        <div class="col-lg-4">
          <%= image_tag('tyler.png', class: "img img-circle", height: 120, width: 120)  %>
          <br>
          <h4><b>Tyler Davis</b></h4>
          <p>Tyler is a Ph.D. student at the Evans School of Public Policy.  He has a background in benefit cost analysis, and field work in less developed countries.  His dissertation work is on environmental policy in less developed countries, specifically marine natural resource policy.  His research includes economic modeling in Indonesia (two years), development of principles and standards for benefit cost analysis for social programs (three years), and benefit cost analysis of social services (two years).  Tyler has extensive experience conducting fieldwork in less developed countries, including Indonesia (two years) and Mexico (one year). Tyler is currently a Ph.D. student in public policy and a research team leader on benefit cost analysis of access to information and communication technology in Chile.
        </div><!-- col-lg-3 -->
        
      </div><!-- row -->
    </div><!-- container -->

    
    <!-- ==== BLOG ==== -->
    <div class="container" id="blog" name="blog">
    <br>
      <div class="row">
        <br>
        <h1 class="centered">Check in regularly for updates</h1>
        <hr>
        <br>
        <br>
      </div><!-- /row -->
      
      <div class="row">
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <h4>Jaye Smith</h4>
            <h5>Published Aug 30.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2>We Define Success</h2>
            <p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
            <p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
            <p><a href="#" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div><!-- /col -->
        
        <div class="col-lg-6 blog-bg">
          <div class="col-lg-4 centered">
          <br>
            <h4>Michele Lampa</h4>
            <h5>Published Aug 28.</h5>
          </div>
          <div class="col-lg-8 blog-content">
            <h2>A Beautiful Story</h2>
            <p>Armed with insight, we embark on designing the right brand experience that engages the audience. It encompasses both the strategic direction and creative execution that solves a business problem and brings the brand to life.</p>
            <p>In the create phase, the big idea is unleashed to the world through different media touchpoints. This is when we watch the audience fall in love all over again with our client’s brand.</p>
            <p><a href="#" class="icon icon-link"> Read More</a></p>
            <br>
          </div>
        </div><!-- /col -->
      </div><!-- /row -->
      <br>
      <br>
    </div><!-- /container -->
    
    <div class="container" id="contact" name="contact">
      <div class="row">
      <br>
        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>
        <div class="col-lg-4">
          <h3>Contact Information</h3>
            <span class="icon icon-envelop"></span> <a href="#">info@potavida.org</a> <br/>
            <span class="icon icon-twitter"></span> <a href="https://twitter.com/search?q=%40potavida&src=typd"> @potavida </a> <br/>
            <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/pages/PotaVida/121404951264666"> PotaVida </a> <br/>
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>Blog</h3>
          <p>Sign up to receive notifications when a new blog is posted:</p>
          <p>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="text1" class="col-lg-4 control-label"></label>
                <div class="col-lg-10">
                  <input type="text" class="form-control" id="text1" placeholder="Your Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </div>
              </div>
             </form><!-- form -->
          </p>
        </div><!-- col -->
        
        <div class="col-lg-4">
          <h3>How You Can Help</h3>
          <p>We are currently collaborating with World Vision to prototype and field-test our latest design. World Vision will be our first and largest customer; once proven in the NGO market, we can sell at lower cost to end users.</p>
        </div><!-- col -->

      </div><!-- row -->
    
    </div><!-- container -->

    <div id="footerwrap">
      <div class="container">
        <h4>Created by Blavida -- Copyright 2014</h4>
      </div>
    </div>
  </body>
</html>
