<!DOCTYPE html>
<html>
<head>
  <title>PotaVida</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar-main">
      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><%= image_tag 'pvlogo.png', class: 'logo', width: 200 %></li>
              <li><%= link_to 'Home', root_path %></li>
<!--               <#% if current_user.role == 'admin' %> 
              <li><#%= link_to 'Create New User', user_create_path %></li>
              <#% end %>
              <#% unless current_user.role == 'field_manager' %>
                <li><#%= link_to 'Data Visualizations', data_path %></li>
              <#% end %> -->
              <li><%= link_to 'Sign Out', sign_out_path %></li>
              <li><%= link_to 'Profile', user_show_path(current_user) %></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  <div class='all_the_containers'>

<%= yield %>
  
  </div>

</body>
</html>
