<!DOCTYPE html>
<html>
<head>
  <title>PotaVida</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="posts">
  <div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <%= image_tag 'pvlogo.png', class: 'logo', width: 75 %>
            </button>
        </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li class="hidden-xs"><%= image_tag 'pvlogo.png', class: 'logo', width: 150 %></li>
              <li> <a href="/">Home</a> </li>
              <li> <div id='hidden_form'> <%= render '/sessions/form' %> </div> </li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </div>


<%= yield %>
  
  </div>

</body>

<footer></footer>
</html>
